* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

nav {
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px 0 0; 
    border-radius: 35%;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Verela Round', sans-serif;
    display: flex;
    margin: 23px auto; 
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    background-image: url("../assets/bg.jpg");
    
}

.bottom {
    position: sticky; 
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.icons {
    margin: 14px;

}

.icons i {
    cursor: pointer; 
}

.fa-step-backward {
    margin-right: 5px;
}

.fa-step-forward {
    margin-left: 5px;
}

.fa-play-circle {
    padding: 0 15px;
}

.songItemContainer {
    margin-top: 74px;
}

#myProgressBar {
    display: flex;
    width: 75vw;
    cursor: pointer; 
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 45px;
    margin: 0 23px;
    border-radius: 50%;
}


.timestamp i {
    cursor: pointer; 
}

.songInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 10vw;
    font-family: 'Verela Round', sans-serif;
}

.songInfo img {
    width: 100px;
    height: 45px;
    border-radius: 10%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.songInfo span {
    padding: 0 20px;
    font-size: 20px;
}
